<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="content">
    <h1 th:text="#{text.users}"></h1>
	<table>
	   <thead>
	       <tr>
	           <th th:text="#{text.table.user}"></th>
	           <th th:text="#{text.table.count}"></th>
	       </tr>
	   </thead>
	   <tbody>
	       <tr class="userSelection" th:each="user : ${userData.userData}" th:attr="data-email=${user.email}">
	           <td th:text="${user.email}"></td>
	           <td th:text="${user.totalInboxMessages}"></td>
	       </tr>
	   </tbody>
	</table>
	<form id="viewEmailForm" th:action="@{/email/view}" method="POST" accept-charset="UTF-8">
	   <input type="hidden" name="email" value="">
	</form>
	<script th:src="@{/js/index.js}" type="text/javascript"></script>
</div>
</html>
